.cls-1-2,.cls-3-2,.cls-6-2{fill:#f4eacb}.cls-1-2,.cls-15-2,.cls-16-2{stroke:#4f4e4b}.cls-1-2,.cls-15-2,.cls-16-2,.cls-6-2,.cls-7-2{stroke-miterlimit:10}.cls-1-2{stroke-width:16px}.cls-16-2,.cls-2-2,.cls-7-2{fill:#f753aa}.cls-6-2,.cls-7-2{stroke:#b5b5b5}.cls-15-2,.cls-5-2{fill:#55cec5}.cls-6-2,.cls-7-2{stroke-width:1.48px}.cls-9-2{fill:#b5b5b5}.cls-10-2{fill:#4f4e4b}.cls-11-2{fill:#f5dddb}.cls-12-2{fill:#fdadba}.cls-15-2,.cls-16-2{stroke-width:7px}

#clown_hover{
    opacity: 0;
    transition-duration: 0.5s;
}
#clown_hover:hover{
    opacity:1;
}


.scaling-svg-container2{
    background-image: url(../../images/m-bg.svg);
    text-align: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.scale2 {
    width: 70vw;
    height: 100vh;
}


.selectBox{
    width: 85px;
    height: 85px;
    border: 5px solid pink;
    border-radius: 5px;
}

.chatface_cont{
    background-color: #fdadba;
    width: 100vw;
    height: 100vh;
    display: flex;
      justify-content: center;
      align-items: center;
}

.wrapper h4{
    text-align: center;
}

.half_clown{
    width: 390px;
    height: 280px;
    text-align: center;
}

.input_name{
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
}

.avt_cont{
    margin: 5px;
    cursor: pointer;
    opacity: 0.5;
}
.avt_cont:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.join_btn{
    opacity: 1;
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    padding: 10px 30px 10px 30px;
    font-size: 16pt;
    font-weight: bold;
}

.join_btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

.chat_room{
    float: left;
    background-color: #fdadba;
    width: 30vw;
    height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    text-align: center;
    position: relative;
}
.user_online{
    margin: 0 auto;
}
.leave_btn{
    border: 5px solid black;
    padding: 8px 20px 8px 20px;
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    left: 35px;
    bottom: 30px;
}
.chat_box{
    float: right;
    text-align: left;
    width: 70vw;
    height: 100vh;
}
.chat_msg{
    height: 90vh;
    overflow: auto;
    background-color: aliceblue;
}
.chat_control{
    bottom: 0;
    
}
.send_input{
    width: 85%;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #4f4e4b;
    
}
.send_btn{
    background-color: #fdadba;
    width:12%;
    height: 40px;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 10pt;
    color: white;
    font-weight: bold;
    border: none;
}

.msg_all{
    margin-left: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px;
    display: inline-block;
}

.msg_avt{
    width: 10%;
    height: 40px;
    float: left;
    
}

.msg_detail{
    width: 90%;
    height: 50px;
    float: right;
}
.msg_name{
    font-weight: bold;
    margin-bottom: 10px;
}
.msg_msg{
    display: inherit;
}
.onAnimal{
    line-height: 50px;
}
.on_avt{
    vertical-align: middle;
    height: 50px;
    margin: 5px;
}
.sti_control{
    width: 30vw;
    height: 100vh;
    float: left;
    background-color:cadetblue;
}
.sti_display{
    width: 70vw;
    height: 100vh;
    float: right;
    cursor: none;
    background-color: beige;
}
.myImage{
    height: 50px;
    position: absolute;
}
.allSusers{
    position: absolute;
}
.allSusers2{
    position: absolute;
    cursor: all-scroll;
}
.group{ 
  position:relative; 
  margin-bottom:45px; 
}

.imgsize_input{
    font-size:18px;
    padding:5px 5px 5px 5px;
    display:block;
    width:150px;
    border:none;
    background: transparent;
    border-bottom:5px solid black;
}
.imgsize_input:focus{ 
    outline:none; }

.imgsize_input::placeholder{ 
  opacity: 0;
}

.imgsize_input:focus::placeholder{ 
    transition: opacity 0.8s, ease-out 1s;
    color: black;
    opacity: 1;
}


.mlabel{
  color:black; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

.imgsize_input:focus ~ .mlabel{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.imgsize_input:invalid ~ .mlabel:before{
   top:0px;
  font-size:18px;
  color:#5264AE; 
}

.imgsize_input:valid ~ .mlabel{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
.bar{ 
    position:relative; 
    display:block; 
    width:160px; }
.bar:before, .bar:after{
  content:'';
  height:5px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}

.imgsize_input:focus ~ .bar:before, .imgsize_input:focus ~ .bar:after {
  width:50%;
}
.bar:after {
  right:50%; 
}
.playwrapper{
 width: 100%;
 height: 50vh;
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 margin: auto;
  

}
.container {
    position: relative;
    width: 200px;
    display: inline-block;
    margin-left: 5em;
    
}

.image {
  opacity: 1;
  display: block;
  width: 15vw;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.container:hover .image {
  opacity: 0.3;
  cursor: pointer;
}
.container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.cont_left{
    display: inline-block;
    width: 20vw;
    height: 100vh;
    background-color: #fdadba;
    float: left;
}

.cont_center{
    display: inline-block;
    width: 60vw;
    height: 100vh;
    background-color: #dbdbdb;
    
}

.cont_right{
     display: inline-block;
    width: 20vw;
    height: 100vh;
    background-color: #4f4e4b;
    float:right;
}

/*sticer wall*/
.stiker_cont{
    background-color: #F4EACB;
    width: 100vw;
    height: 100vh;
    display: flex;
      justify-content: center;
      align-items: center;
}
.eleicon{
    width: 250px;
    height: auto;
}

/*pizza eater*/
.eater_cont{
    background-color: #55CEC5;
    width: 100vw;
    height: 100vh;
    display: flex;
      justify-content: center;
      align-items: center;
}

.pizzaslice {
    width: 190px;
    height: auto;
}

.pizzabtn {
    background-color: transparent;
    border: none;
    width: 200px;
    margin: 3em;
    display: inline-block;
}

.pizzabtn:hover {
    cursor: pointer;
}

.btnimg {
    width: 200px;
    height: auto;
}

.btnimg:hover {
    cursor: pointer;
}